body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#footer {
  margin-top: auto;
}

.navbaritem {
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  transition: all 0.3s ease;
 
}
.navbaritem:hover {
  text-decoration: underline;
  text-shadow: 0px 1px 1px #1475c4;
}
#navBar-2 {
  border-bottom: 3px dashed black;
  margin-left: 5vw;
  margin-right: 5vw;
}
.container {
  max-width: 100vw;
  max-height: 100vh;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}
.span-list {
  display: flex;
  gap: 10px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-container {
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  padding: 60px 20px 20px 20px;
  margin-top: 60px;
  box-sizing: border-box;
  border-top: 5px dashed rgb(26, 24, 24);
}

.footer-main {
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
  gap: 12rem;
}
.contact-item {
  word-wrap: break-word;
}
.footer-left {
  padding-left: 70px;
  text-transform: capitalize;
  color: rgb(10, 9, 9);
}
.footer-right {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 50vh;
}
.footer-section {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  font-size: 14px;
  color: #a1a0a0;

}
.social-link {
  text-decoration: none;
  color: #0a0a0a;
  font-size: 24px;
  padding-right: 30px;
  
 
}
.text-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: underline none;
}

li a {
  text-decoration: none;
  color: rgb(166, 162, 162);
}
