
body {
  margin: 0;
  padding: 0;
}
.navbaritem {
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.navbaritem:hover {
  text-decoration: underline;
  text-shadow: 0px 1px 1px #1475c4;
}
#navBar-2 {
  border-bottom: 3px dashed black;
  margin-left: 5vw;
  margin-right: 5vw;
}
.container{
  max-width: 100vw;
  max-height: 100vh;
  height: auto;
  border: 1px solid black ;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
