#background {
  background-color: aqua;
  background-image: url(../image/image.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
  
}
.tittle {
  color: rgb(253, 246, 246);
  font-weight: bold;
  text-align: center;
}
.style {
  color: rgb(244, 237, 237);
  font-family: "solidar", sans-serif;
  font-size: 18px;
  text-align: center;
}
.text-container {
  margin-top: 15vh;
  margin-right: 25vw;
  margin-left: 25vw;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 20px;
}
.login {
  display: flex;
  justify-content: center;
  height: 40px;
  position: relative;
  width: 400px;
}
.login input {
  width: 100%;
  border-radius: 4px;
  height: 100%;
  position: relative;
  font-size: large;
}
#tracking-id {
  margin-right: 10px;
}
.login button {
  background-color: #100f0f;
  color: rgb(247, 242, 242);
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  height: 45px;
  right: 0;
  width: 80px;
  font-size: large;
  border: none;
}

.login button:hover {
  background-color: #37b42c;
}
