.seperator {
  background: #0a0a0a;
  height: 50px;
  width: 100%;
}
.title {
  color: rgb(4, 4, 4);
  text-align: center;
  text-shadow: 2px 2px 4px #aaa;
  text-indent: 50px;
  font-size: 50px;
}
.text-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
}
.view-all {
  text-decoration: none;
}
.view-all:hover {
  text-decoration: underline;
}
.category-list {
  display: flex;
  gap: 40px;
  justify-content: start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  user-select: none;
  height: 29vh;
  padding: 15px;
}

.category-list:active {
  cursor: grabbing;
}

.category-list::-webkit-scrollbar {
  display: none;
}
.category-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-shadow: #111111 0px 0px 0px;
  height: 50vh;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
  gap: 5rem;
  object-fit: cover;
  object-position: bottom;
}

.category-image:hover {
  transform: scale(1.05);
}

.img-container-card {
  padding: 16px;
  margin: 8px;
  background: #fdfeff;
  border-radius: 8px;
  max-width: 300px;
}
