.card-wraper {
  display: flex;
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px;
  text-align: left;
  width: 100%;
  height: 80vh;
  padding-left: 10px;
  padding-right: 8px;
}

.img-wrapper {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 40vh;
  border-radius: 8px;
  object-fit: cover;
  object-position: bottom;
}
.limited-stock {
  background: red;
  width: auto;
  height: 16px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  margin-bottom: 15px;
}
.price-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crossed-out {
  text-decoration: line-through;
  color: #888;
}
.Bnt-wrapper {
  display: flex;
  justify-content: center;
}
.button {
  background-color: #0e180e;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  
}
.button:hover {
  background-color: #555555;
  color: orange;
}
